* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: "Roboto", sans-serif;

}
body a {
    color: #f9faf8;
    text-decoration: none;
}
header, footer {
    background-color: #1f2937;
    color: #f9faf8;
}

header {
    padding-top: 10px;
}
.logo {
    margin-top: 7px;
    font-size: 24px;
}

#head, #hero {
    width:1180px;
    margin: 0px auto;
    display:flex;
    flex-direction: row;
}


#head {
    justify-content: space-between;
}

#primary_menu > ul{
    display: flex;
    list-style: none;
    margin-top: 10px;
}

#primary_menu > ul > li > a {
    padding: 10px 20px;
    color:#e5e7eb;
    font-size: 18px;
}

#hero {
    justify-content: space-between;
    padding-top: 120px;
    padding-bottom: 120px;
}

.title-area {
    width: 450px;
}

.title-area > h1 {
    font-size: 48px;
    font-weight: extra-bold;
}

.title-area > p {
    font-size: 18px;
    color: #e5e7eb;
}

.title-area > .button {
    background-color: #3882f6;
    color: #ffffff;
    padding: 7px 20px;
    border-radius: 6px;
    margin: 10px 10px 10px 0px;
    font-weight: bold;
    display: inline-block;
}

.image-area > div {
    background-color: darkgray;
    width: 500px;
    height: 250px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}

#info {
    width: 1000px;
    margin: 0 auto;
    margin-bottom: 200px;
}

#info > h2{
    color: #1f2937;
    font-size: 36px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

#info > section  {
    display: flex;
    justify-content: space-around;
}

#info > section > .item {
    width: 150px;
    display: block;
    overflow: hidden;
}
#info > section > .item > .item-image{
    border: #3882f6 5px solid;
    border-radius: 10px;
    display: block; 
    height: 150px;
}
#info > section > .item > .item-text {
    color:#1f2937d2;
    text-align: center;
}

#quote {
    /* width: 1180px; */
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #e5e7eb;
}

#quote > blockquote {
    color:#1f2937;
    font-size: 36px;
    font-weight:300;
    width: 800px;
    margin: 0px auto;
    font-style: italic;
}
#quote > blockquote > cite {
    display: flex;
    flex-direction: row-reverse;
    font-weight: 500;
}
#call-to-action {
    padding-top: 100px;
    padding-bottom: 100px;
}
#call-to-action > .area {
    width: 1180px;
    margin: 0px auto;
    background: #3882f6;
    color: white;
    padding: 25px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    /* align-content: center; */
    align-items: center;
}
#call-to-action > .area > a {
    border: #ffffff solid 3px;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 900;
}
footer {
    padding: 40px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}